/* Estilos generales  */
*{

  margin: 0;
  padding: 0;
  
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative; 
  background: url(../img/legendOfZelda.jpg) center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  

}

/* Estilo para el Timeline  */
h1{
  text-align: center; 
    font-size: 40px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    left: 0;
    width: 100%;
    background-color: rgba(46, 50, 248, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin: 10px;
}
#timeline-container {
  content: ' ';
  position: absolute;
  background: rgb(255, 255, 255);
  width: 1px;
  left: 50%;
  padding: 5px;
}
.timeline-event {
  width: 500px;
  margin: 0px 40px;
  padding: 20px;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.76);

}
/* Estilos para el primer evento */
.timeline-event:first-of-type::before {
  content: none;
}

/* Estilos para los demás eventos */
.timeline-event:not(:first-of-type)::before {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/*PARES*/
.timeline-event:nth-of-type(odd) {
  float: left;
}
.timeline-event:nth-of-type(odd)::before {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

/*IMPARES*/
.timeline-event:nth-of-type(even) {
  float: right;
}
.timeline-event:nth-of-type(even)::before {
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilos para el contenido del JSON */
.event-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.event-title {
  margin-bottom: 10px;
  text-align: center;
}

.event-image {
  width: 200px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.event-text {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/* Estilo para el formulario  */
#formulario-icono {
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  bottom: 100px;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}
  
#contenedor-formulario {
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    left: 60px;
    bottom: 100px;
    display: none;
    transform: translateX(-50%);
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-left: 25%;
    margin-top: 5px;
    width: 40%;
    border-radius: 16px;
  }
  #formulario-icono.active + #contenedor-formulario {
    display: block; /* Muestra el formulario cuando el icono tenga la clase 'active' */
  }
  

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }




  