
*{

  margin: 0;
  padding: 0;
}
body{
  background: url(../img/legendOfZelda.jpg) center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;


}



#timeline-container {
  content: ' ';
  position: absolute;
  background: rgb(255, 255, 255);
  width: 1px;
  left: 50%;
  padding: 5px;
}
.timeline-event {
  width: 400px;
  margin: 0px 40px;
  padding: 20px;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.76);

}



/* Estilos para el primer evento */
.timeline-event:first-of-type::before {
  content: none;
}

/* Estilos para los demás eventos */
.timeline-event:not(:first-of-type)::before {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/*PARES*/
.timeline-event:nth-of-type(odd) {
  float: left;
}
.timeline-event:nth-of-type(odd)::before {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

/*IMPARES*/
.timeline-event:nth-of-type(even) {
  float: right;
}
.timeline-event:nth-of-type(even)::before {
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilos para el contenido de los eventos */
.event-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.event-title {
  margin-bottom: 10px;
  text-align: center;
}

.event-image {
  width: 200px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.event-text {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#form-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
