section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-event {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .timeline-event::before {
     content: attr(data-year);
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;;
  }
  
  .timeline-event > * {
     margin-top: 20px;
    text-align: center;
  }
  
  .timeline-box {
    width: 200px; /* Set the desired width for the boxes */
  }

  